/* Write your CSS here */
* {
  margin: 0px;
  box-sizing: border-box;
}
body {
  font-family: Bree Serif;
}
.app-container {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(to bottom, #fff1eb, #dfe2e5, #ace0f9);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  font-size: 34px;
  color: #1e293b;
  margin-top: 10px;
  margin-bottom: 10px;
}
.search-box {
  display: flex;
  align-items: center;
  background-color: #f1f5f9;
  padding: 10px 12px;
  border-radius: 8px;
  width: 280px;
}

.search-input {
  color: #7b8794;
  border: none;
  outline: none;
  background-color: transparent;
  margin-left: 8px;
  font-size: 16px;
  width: 100%;
}
.search-icon {
  height: 20px;
  width: 20px;
  color: #7b8794;
}
.tabs-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  max-width: 200px;
  margin: 20px;
}
.apps-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}
