/* Write your CSS here */
.app-item-container {
  background-color: #ffffff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.app-item-image {
  width: 100px;
  height: 100px;
  margin: 30px;
}

.app-item-title {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #000000;
}
